.row
  .tooltips
    %h2 Tooltips
    %h3 Normal Tooltips
    %button.btn.btn-default{"data-placement" => "auto", "data-toggle" => "tooltip", :title => "Tooltip on autopilot", :type => "button"} Tooltip set on auto
    %button.btn.btn-default{"data-placement" => "left", "data-toggle" => "tooltip", :title => "Tooltip on left", :type => "button"} Tooltip on left
    %button.btn.btn-default{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Tooltip on top", :type => "button"} Tooltip on top
    %button.btn.btn-default{"data-placement" => "bottom", "data-toggle" => "tooltip", :title => "Tooltip on bottom", :type => "button"} Tooltip on bottom
    %button.btn.btn-default{"data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button"} Tooltip on right
  .exotic-tooltips
    %h3 Status Tooltips
    %button.btn.btn-default{"data-placement" => "top-right tooltip-success", "data-toggle" => "tooltip", "data-trigger" => "click", :title => "Awesome! You did it!", :type => "button"} Success tooltip
    %button.btn.btn-default{"data-placement" => "bottom-right tooltip-info", "data-toggle" => "tooltip", "data-trigger" => "click", :title => "Just letting you know...", :type => "button"} Info tooltip
    %button.btn.btn-default{"data-placement" => "bottom-left tooltip-danger", "data-toggle" => "tooltip", "data-trigger" => "click", :title => "Danger! I'm red and scary! BOO!", :type => "button"} Danger tooltip
    %button.btn.btn-default{"data-placement" => "top-left tooltip-success", "data-toggle" => "tooltip", "data-trigger" => "click", :title => "Awesome! You did it!", :type => "button"} Success tooltip on the left
  .exotic-tooltips
    %h3 Exotic Tooltips
    %button.btn.btn-default{"data-placement" => "top-right", "data-toggle" => "tooltip", :title => "Tooltip on top right", :type => "button"} Tooltip on top right
    %button.btn.btn-default{"data-placement" => "top-left", "data-toggle" => "tooltip", :title => "Tooltip on top left", :type => "button"} Tooltip on top left
    %button.btn.btn-default{"data-placement" => "bottom-right", "data-toggle" => "tooltip", :title => "Tooltip on bottom right", :type => "button"} Tooltip on bottom right
    %button.btn.btn-default{"data-placement" => "bottom-left", "data-toggle" => "tooltip", :title => "Tooltip on bottom left", :type => "button"} Tooltip on bottom left